[submodule ".trae/skills/superpowers"]
	path = .trae/skills/superpowers
	url = https://github.com/obra/superpowers
[submodule ".trae/skills/ui-ux-pro-max-skill"]
	path = .trae/skills/ui-ux-pro-max-skill
	url = https://github.com/nextlevelbuilder/ui-ux-pro-max-skill
[submodule ".trae/skills/planning-with-files"]
	path = .trae/skills/planning-with-files
	url = https://github.com/OthmanAdi/planning-with-files
[submodule "hermes-config/skills/planning-with-files"]
	path = hermes-config/skills/planning-with-files
	url = https://github.com/OthmanAdi/planning-with-files
[submodule "hermes-config/skills/superpowers"]
	path = hermes-config/skills/superpowers
	url = https://github.com/obra/superpowers
[submodule "hermes-config/skills/ui-ux-pro-max-skill"]
	path = hermes-config/skills/ui-ux-pro-max-skill
	url = https://github.com/nextlevelbuilder/ui-ux-pro-max-skill
